"*":
  "advanced-open-file": {}
  "atom-pair":
    pusher_app_key: "465303074b36243560c1"
    pusher_app_secret: "d774a7b4ac11451b30f8"
    slack_url: "https://hooks.slack.com/services/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"
  "atomic-emacs":
    killWholeLine: true
  "autohide-tree-view":
    pushEditor: true
  core:
    disabledPackages: [
      "emacs-mode"
      "zentabs"
    ]
    telemetryConsent: "limited"
  "disable-keybindings":
    allCommunityPackages: true
    bundledPackages: [
      "go-to-line"
      "bracket-matcher"
    ]
    exceptCommunityPackages: [
      "emacs-plus"
    ]
    prefixKeys: [
      "ctrl+k"
    ]
  editor:
    fontFamily: "Fira Code"
    fontSize: 17
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "e3a27c53-fc3c-d51e-9ee1-4a01f64c97bf"
  "file-icons":
    onChanges: true
  "hide-tree":
    focus: false
  metrics:
    userId: "95fa3c69c54a1b40dec04a2c25bb0f7c5f5e71b5"
  "one-dark-ui": {}
  "package-sync":
    createOnChange: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
