'.editor':
  'ctrl-alt-g': 'find-and-replace:select-all'
  'ctrl-shift-V': 'core:paste'
  'ctrl-x ctrl-w': 'core:save-as'

'.fuzzy-finder':
  'ctrl-x ctrl-f': 'advanced-open-file:toggle'

'atom-text-editor.autocomplete-active, .fuzzy-finder, .command-palette':
  'ctrl-n': 'core:move-down'
  'ctrl-p': 'core:move-up'

'.find-and-replace':
  'ctrl+n': 'core:cancel'

#####################################################
# Disable all ctrl-k * to allow ctrl-k to kill line #
#####################################################
'body.platform-darwin, body.platform-win32, body.platform-linux':
  # disable default ctrl-k keybindings
  'ctrl-k ctrl-b': 'unset!'

'.platform-win32 atom-text-editor, .platform-linux atom-text-editor':
  # disable default ctrl-k keybindings
  'ctrl-k ctrl-d': 'unset!'

'body':
  # disable default ctrl-k keybindings
  "ctrl-k up": "unset!"
  "ctrl-k down": "unset!"
  "ctrl-k left": "unset!"
  "ctrl-k right": "unset!"
  "ctrl-k ctrl-w": "unset!"
  "ctrl-k alt-ctrl-w": "unset!"
  "ctrl-k ctrl-p": "unset!"
  "ctrl-k ctrl-n": "unset!"
  "ctrl-k ctrl-up": "unset!"
  "ctrl-k ctrl-down": "unset!"
  "ctrl-k ctrl-left": "unset!"
  "ctrl-k ctrl-right": "unset!"
  'ctrl+n': 'unset!'

'atom-workspace atom-text-editor':
  # disable default ctrl-k keybindings
  "ctrl-k ctrl-u": "unset!"
  "ctrl-k ctrl-l": "unset!"

"atom-workspace atom-text-editor:not([mini])":
  # disable default ctrl-k keybindings
  "ctrl-k ctrl-0": "unset!"
  "ctrl-k ctrl-1": "unset!"
  "ctrl-k ctrl-2": "unset!"
  "ctrl-k ctrl-3": "unset!"
  "ctrl-k ctrl-4": "unset!"
  "ctrl-k ctrl-5": "unset!"
  "ctrl-k ctrl-6": "unset!"
  "ctrl-k ctrl-7": "unset!"
  "ctrl-k ctrl-8": "unset!"
  "ctrl-k ctrl-9": "unset!"
