packages: [
  "advanced-open-file"
  "atomic-emacs"
  "autohide-tree-view"
  "busy-signal"
  "file-icons"
  "git-plus"
  "intentions"
  "language-haml"
  "linter"
  "linter-ui-default"
  "package-sync"
  "zentabs"
]
